*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }


  .container{
    display:flex;
    max-width:100%
  }

/* estilização do aside */
  
  .container aside{
    display:flex;
    justify-content:center;
    height:100vh;
    border:1px solid lightgray;
    position:relative;
    width:200px;
    overflow:hidden;
  }
  
    .container aside:before {
      content: "";
      width: 100%;
      height: 20%;
      position: absolute;
      background-color: #f6cb66;
  
  }
  
  
  .container aside .content{
    width:100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: center;
    position: absolute;
    top: 30%;
    left: 0%;
    
  }
  .container aside .logo{
  width: 120%;
   height: 30%;
    background-color:white;
    position:absolute;
    top:10%;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius: 60%;
    transform:rotate(-30deg)
  }
  
  .container aside .logo img{
    width:72%;
    height:auto;
    transform:rotate(30deg)
  
  }
  .container aside .content div{
      width:100%; 
    padding-bottom:30px;
    display:flex;
    align-items:center;
    cursor:pointer;
    position:relative;
    padding:15px;
  }

.container aside .content div h6{
    font-family: sans-serif;
    font-weight: 100;
    font-size: 9px;

  }
  .container aside .content div:hover{
    background-color:#fcfcfc;
  }
  .container aside .content div:hover h6{
    font-weight: bold

  }
  .container aside .content div:before{
    content:"";
    width:5%;
    height:99%;
    background-color:#029ba0;
    position:absolute;
    top:0;
    left:0; 
    transform:translateX(-42%) ;
    opacity:0
     
  }
  
  .container aside .content div:hover:before{
    opacity:1
  }
  
  
  
  .container aside .content span img{
    width:30px;
   padding-right:10px ;
    color:transparent;
  }
  

        /* .............Section */
  section{
    width:100%;
    height:100vh;
    background-color:#fcfcfc;
    padding:20px;
  }
  
  section .box{
    width:100%;
    height:83%;
    background-color:white;
    border-radius:10px;
    border: 1px solid lightgray;
  box-shadow: 0px 3px 21px -15px;
  }
  section .login{
    display:flex;
    align-items:center;
    justify-content:flex-end;
    padding-bottom:30px
  }
  
  section .login .login_name{
    color:#029ba0;
    font-family:sans-serif;
    text-align:center
  }
  .login_subs{
    color:#9e9e9e;
  }
  
  section .profile{
    width:50px;
    height:50px;
    background-color:lightgray;
    border-radius:50%;
    margin:10px
  }
  
  section .box{
    padding:20px;
    overflow:auto
  }
  
  section .box .headerstyle{
    color:#f6cb66;
    font-family:sans-serif;
  }
  
  section .box_button{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    margin-top: 20px
  }
  section .box header .box_subs{
    margin-top:10px;
    margin-left:2px;
  }
  
  section .box .box_button div span img{
    width:20px;
    margin-right:10px
  }
  
  section .box .box_button div{
    padding:5px 15px;
    border-radius:5px;
    background-color:lightgray;
    margin:10px;
    margin-left:0;
    display:flex;
    align-items:center;
    text-transform:uppercase;
    font-size:10px;
    cursor: pointer
  }
  
  section .box .box_button .button_checklist{
    color:#c79022
  }

  section .box .box_button .button_baixar{
    color:#4bb0b8
  }
  
  .instrucao{
    background-color:lightgray;
    z-index:-1 ;

  }
  
  .instrucao .instrucao-box{
    display:flex;
    align-items:center;
    padding:10px
  }
  
  .instrucao .instrucao-box input{
    margin-right:10px
  }

  .button_add{
    display:flex;
    align-items:center;
    color:#c79022;
    padding:5px 15px;
    background-color:lightgray; 
    border-radius:5px;
    cursor: pointer;
    margin:10px
  }

  .button_add:active{
    transform:translateY(2px)
  }
  
  .button_add a span img{
      width:15px;
      margin-right:10px;
  }

  .headtable{
    font-family:sans-serif;
    color:#4bb0b8;
    padding:10px;
    display:flex;
    align-items:center;
    flex-wrap: wrap;
    justify-content: space-around
  }

  .search-form{
      border:.5px solid lightgray;
      display:flex;
      align-items:center;
      justify-content:space-between;
      padding:3px 10px;
      background-color:#fbfbfb;
      border-radius:7px;
  }
  .search-form input{
      width:90%;
      height:100%;
      border:none;
      outline: none;
      background-color:#fbfbfb
  }
  .search-form a{
      background-color:none;
      border:none;
      width:16px;
      cursor: pointer;
  }



  .modal{
      display:none;
      align-items:center;
      justify-content:center;
      transition: all 1s;
      animation:popup .5s 1;
      transform:scale(1);
  }
  

  @keyframes popup{
      0%{transform:scale(0)};
      100%{transform:scale(1)}
  }
  .modal .modalform{
      border:1px solid lightgray;
      border-radius: 10px;
      text-align: center;
      box-shadow: 1px 1px 10px;
      position:relative;
      background-color: white;
      margin-top: -189px;

  }

  .modal .modalform .close{
    background-color:white;
    width:30px;
    height: 30px;
    position:absolute;
    top:5px;
    right:5px;
    cursor:pointer;
}

  .modal form input{
      width:40%;
  }

  .modal form button{
      margin:10px
  }

  table{
    width: 100%;
  }
 

  .list tbody tr{
      background-color:white;
      display:flex;
      align-items:center;
      justify-content: space-between;
      border-bottom:1px solid lightgray ;
      flex-wrap: wrap;
      padding:10px;
 
  }

  .list tbody tr td:nth-child(1){
    font-weight: bold
 }
  .list tbody tr td:nth-child(2)::before{
   content:"Cargo:";
    font-size: 10px;
    margin-top:-10px;
    display: block;
}

.list tbody tr td:nth-child(3)::before{
    content:"Empresa:";
    font-size: 10px;
     width: 100%;
     height: 100%;
     margin-top:-10px;
     display: block;
 }
  .list tbody tr td{
      padding:10px;
  }

  .btn{
    padding: 5px 16px;
    background-color: lightgray;
    border-radius: 5px;
    text-transform: uppercase;
    margin:5px;
    cursor:pointer;
  }
  .open_button{
      color:#029ba0;
  }

  .remove_button{
    color: #c48a15;
  }

